/****************************/
/* SEARCH SECTION */
/****************************/

.search-section {
  display: flex;
  flex-direction: column;
  background: rgba(172, 195, 213, 0.5);
  grid-column: 3 / 5;
  grid-row: 1 / 2;
  border-radius: 2rem;
}

.page-name {
}

.search-routes_container {
  display: flex;
  gap: 2rem;
}

.search-routes {
}

/****************************/
/* MAP SECTION */
/****************************/

.map-section {
  background-color: #ffffff;
  grid-row: 4 / 7;
  grid-column: 3 / 5;
  border-radius: 2rem;
}

/****************************/
/* RESULTS SECTION */
/****************************/

.results-section {
  background-color: rgba(188, 207, 221, 0.5);
  grid-column: 2 / 6;
  grid-row: 2 / 4;
  border-radius: 2rem;
}

.result-container {
  display: flex;
  justify-content: space-evenly;
}

.result-item {
  align-self: stretch;
  height: 9rem;
  color: #1a2833;

  background-color: rgba(88, 134, 171, 0.404);
  list-style: none;
  border-radius: 2rem;
}

/* DATE CARD STYLING*/

.date-card {
  height: 9rem;
  width: 10rem;
  display: grid;
  color: #ffffff;
  background-color: #395467d4;
  border: 3px solid #ffffff;
  border-radius: 2rem;
}

.result-day {
  font-size: 2rem;
}

.result-month {
  font-size: 1.6rem;
  margin-top: 0.3rem;
}

.result-number {
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

/* TEMP CARD STYLING */

.temp-card {
  display: grid;

  padding: 1rem 0;
}

.icon-weather {
  height: 2.4rem;
  width: 2.4rem;
}

.result-temp {
  font-size: 2rem;
}

.result-unit {
  font-size: 1rem;
}

.result-info {
  margin-top: 1rem;
  font-size: 1rem;
  list-style: none;
  line-height: 2rem;
}
